/* pallete: https://coolors.co/cad2c5-84a98c-52796f-354f52-2f3e46 */

.app {
	color: #354f52;
	background-color: #e3e7e0;
	padding-top: 20px;
	height: calc(100vh);
}
.appHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25%;
	margin: 0 auto;
}

.appTitle {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	font-size: 3vw;
}

.appLogo {
	width: 20%;
	aspect-ratio: 1;
}

.appBotSwitch {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.appSwitchBtn {
	width: 45%;
	padding: 5px;
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #cad2c5;
	color: #354f52;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.2vw;
}

.appSwitchBtn.selected {
	background-color: #354f52;
	color: #cad2c5;
}

.appSubTitle {
	margin-top: 15px;
}

.appBody {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25%;
	margin: 0 auto;
}
.appGame {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
	margin-top: 15px;
}

.appBtnContainer {
	display: flex;
	aspect-ratio: 1;
	width: 25%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #739d92;
	opacity: 0.5;
	position: absolute;
	z-index: 10;
}

.appPlayBtn {
	font-size: 5vw;
	cursor: pointer;
	z-index: 10;
	color: #fff;
	opacity: 1;
}

.appGameCell {
	width: 33%;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #52796f;
	background-color: #cad2c5;
}

.appGameCell.selected {
	background-color: #84a98c;
}

.gameXIcon {
	font-size: 5vw;
	color: #2f3e46;
}

.gameOIcon {
	font-size: 4.5vw;
	color: #2f3e46;
}

.appGameStats {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.appGameScore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #cad2c5;
	border-radius: 10px;
	width: 23%;
	padding: 5px;
	text-align: center;
	border: 2px inset #354f52;
}

.appGameScoreHeader {
	color: #354f52;
	font-weight: bold;
	font-size: 1vw;
}

.appGameScoreData {
	color: #354f52;
	font-weight: bold;
	font-size: 1.5vw;
}

.appFooter {
	color: #354f52;
	font-size: 13px;
	display: flex;
	justify-content: center;
	background-color: #84a98c;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
